build/
/Smart4SURE.xcodeproj/xcuserdata/shannon.xcuserdatad
/Smart4SURE.xcodeproj/project.xcworkspace/xcuserdata

# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
