<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emailForLoginViaExternalId</key>
	<string>nosuchemail@nosuchzone.tld</string>
	<key>studyIdentifier</key>
	<string>study</string>
	<key>cacheDaysAhead</key>
	<integer>10</integer>
	<key>cacheDaysBehind</key>
	<integer>7</integer>
	<key>certificateName</key>
	<string>study</string>
	<key>newsfeedURL</key>
	<string>https://nosuchnewsfeed.blogspot.com/feeds/posts/default?alt=rss</string>
	<key>schemaMapping</key>
	<array>
		<dict>
			<key>schemaIdentifier</key>
			<string>Tremor Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Tapping Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Voice Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Memory Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Walking Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Activity Session</string>
			<key>schemaRevision</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>taskMapping</key>
	<array>
		<dict>
			<key>taskIdentifier</key>
			<string>1-Training-Combined</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>1-Combined</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
			<key>cancelDisabled</key>
			<true/>
			<key>allowMultipleRun</key>
			<false/>
			<key>scheduleNotification</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
