<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>blogspot.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>sagebase.org</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>pdf.org</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>emailForLoginViaExternalId</key>
	<string>nosuchemail@nosuchzone.tld</string>
	<key>studyIdentifier</key>
	<string>study</string>
	<key>cacheDaysAhead</key>
	<integer>30</integer>
	<key>cacheDaysBehind</key>
	<integer>7</integer>
	<key>certificateName</key>
	<string>study</string>
	<key>newsfeedURL</key>
	<string>https://nosuchnewsfeed.blogspot.com/feeds/posts/default?alt=rss</string>
	<key>appUpdateURL</key>
	<string>https://d19ciaektlu7h7.cloudfront.net/Smart4SURE.html</string>
	<key>logoImageName</key>
	<string>FinalLogo_02</string>
	<key>schemaMapping</key>
	<array>
		<dict>
			<key>schemaIdentifier</key>
			<string>Mood Survey</string>
			<key>schemaRevision</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Tremor Activity</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Tapping Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Voice Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Memory Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Walking Activity</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Activity Session</string>
			<key>schemaRevision</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>taskMapping</key>
	<array>
		<dict>
			<key>taskIdentifier</key>
			<string>Pre-Baseline-Combined</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
			<key>allowMultipleRun</key>
			<false/>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Training-Combined</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Ongoing-Combined</string>
			<key>resourceName</key>
			<string>CombinedTask</string>
			<key>allowMultipleRun</key>
			<false/>
		</dict>
	</array>
	<key>permissionTypes</key>
	<array>
		<string>notifications</string>
		<string>coremotion</string>
		<string>microphone</string>
	</array>
</dict>
</plist>
